<div class="container">
    <div class="row margin-top">
      <div class="col-2"></div>
      <div class="col-8 padding-index">
        <div class="row row-cols-2 text-center margin-ind">
          <div
            class="col height-menu-icon d-flex align-items-center justify-content-center"
            style="background-color: aqua"
          >
            <a href="/medicalCenter" class="links-none">Centros Medicos</a>
          </div>
          <div
            class="col height-menu-icon d-flex align-items-center justify-content-center"
            style="background-color: red"
          >
            <a href="/professional" class="links-none">Profesionales</a>
          </div>
          <div
            class="col height-menu-icon d-flex align-items-center justify-content-center"
            style="background-color: blueviolet"
          >
            <a href="/patient" class="links-none">Pacientes</a>
          </div>
          <div
            class="col height-menu-icon d-flex align-items-center justify-content-center"
            style="background-color: green"
          >
            <a href="/socialWork" class="links-none">Obras Sociales</a>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>