<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-4"></div>
        <div class="col-4">
            <h1> Escritorio de la app</h1>
            <h6> Contendra los siguientes widgets que traeran diversos datos</h6>
            <ul>
                <li>Proximas consultas</li>
                <li>Ultimas Consultas</li>
                <li>Pagos pendientes</li>
                <li>Ultimos pagos</li>
                <li>Ficha con grande de proxima consulta</li>
                <li>Ultimas historias clínicas</li>
            </ul>
        </div>
        <div class="col-4"></div>
    </div>
</div>