<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-12">
            <app-next-consultation-widget [nextConsultation]="nextConsultation"></app-next-consultation-widget>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-6">
            <app-next-consultations-widget [nextConsultations]="nextConsultations"></app-next-consultations-widget>
        </div>
        <div class="col-6">
            <app-last-consultations-widget [lastConsultations]="lastConsultations"></app-last-consultations-widget>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-6">
            <app-pending-payouts-widget [pendingPayouts]="pendingPayouts"></app-pending-payouts-widget>
        </div>
        <div class="col-6">
            <app-complete-payouts-widget [completePayouts]="completePayouts"></app-complete-payouts-widget>
        </div>
    </div>
</div>